/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

$g8-tree__bg: #cccccc !default;
$g8-tree__fg: #333333 !default;
$g8-tree__bg--highlight: lighten($g8-tree__bg, 10%) !default;
$g8-tree__bg--highlight--secondary: darken($g8-tree__bg, 20%) !default;
$g8-tree__fg--inverse: darken($g8-tree__bg, 20%) !default;
$g8-tree__bg--inverse: darken($g8-tree__fg, 5%) !default;
$g8-tree__bg--highlight--inverse: lighten($g8-tree__bg--inverse, 10%) !default;
$g8-tree__bg--highlight--secondary--inverse: lighten(
  $g8-tree__bg--inverse,
  20%
) !default;

.g8-tree__view {
  margin: 0;
  padding: 0;
  color: $g8-tree__fg;
  text-align: left;
  user-select: none;

  > .g8-tree__node {
    padding-left: 0;
    margin-left: 0;
  }
}

.g8-tree__checker,
.g8-tree__node__entry__toggle {
  width: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.g8-tree__checker {
  position: relative;
  margin-right: 4px;

  &:after {
    content: '\2714';
    position: relative;
    visibility: hidden;
  }

  &:before {
    content: ' ';
    background: $g8-tree__bg;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 90%;
    height: 80%;
  }

  &:hover,
  &:focus {
    &:before {
      background: $g8-tree__bg--highlight--secondary;
    }
  }

  &.g8-tree__checker--checked:after {
    visibility: visible;
  }
}

.g8-tree__checker--checked--intermediate:after {
  content: '\220E';
  margin-left: -0.05em;
}

.g8-tree__branch {
  padding: 0;
  display: none;
}

.g8-tree__node {
  list-style: none;
  padding: 0.1rem 0 0.1rem 1rem;
}

.g8-tree__node__branch {
  font-weight: bold;

  .g8-tree__node__entry__toggle:before {
    padding-right: 0.5rem;
    content: '\25ba';
  }
}

.g8-tree__node__entry {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-wrap: nowrap;
  border-radius: 4px;
  align-items: center;

  > * {
    min-width: 0;
    display: block;
  }

  .g8-tree__checker {
    flex: 0 0 auto;
  }
}

.g8-tree__node__entry__toggle {
  flex: 0 0 auto;

  &:before {
    content: '\2022';
  }
}

.g8-tree__node__entry__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.g8-tree__node__entry__tags {
  min-width: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.g8-tree__node__entry__tags__tag {
  min-width: 3em;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
  font-weight: normal;
  border-radius: 0.2rem;
  text-overflow: ellipsis;
  background: $g8-tree__bg;

  &:hover,
  &:focus {
    background: $g8-tree__bg--highlight--secondary;
  }
}

.g8-tree__node--expended {
  > .g8-tree__branch {
    display: block;
  }

  > .g8-tree__node__entry > .g8-tree__node__entry__toggle:before {
    content: '\25bc';
  }
}

.g8-tree--highlight-hover .g8-tree__node__entry {
  &:hover,
  &:focus {
    background: $g8-tree__bg--highlight;
  }
}

.g8-tree__view.g8-tree--dark {
  color: $g8-tree__fg--inverse;

  .g8-tree__checker {
    &:before {
      background: $g8-tree__bg--inverse;
    }

    &:hover,
    &:focus {
      &:before {
        background: $g8-tree__bg--highlight--secondary--inverse;
      }
    }
  }

  .g8-tree__node__entry__tags__tag {
    background: $g8-tree__bg--inverse;

    &:hover,
    &:focus {
      background: $g8-tree__bg--highlight--secondary--inverse;
    }
  }

  &.g8-tree--highlight-hover .g8-tree__node__entry {
    &:hover,
    &:focus {
      background: $g8-tree__bg--highlight--inverse;
    }
  }
}
